*{
    padding: 0;margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    user-select: none;
   
}
.menu-container{
    width: 100vw;
    height: 8vh;
    background-color: rgba(35, 35, 36, 0.697);
    box-shadow: 2px 0 4px #3c3c3c,
    4px 0 6px #3c3c3c,
    6px 0 8px #3c3c3c ;
    display: grid;
    grid-template-columns: 10% 20% auto;
    justify-content: center;
    align-items: center;
    
}

.menu-container a img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    
    /* line-height: 10vh; */
    
    }

.nav{
    
    position: fixed;
    top: 0.625rem;
    z-index: 33;
    right: 0;
    background-color: rgba(35, 35, 36, 0.697);
    
}
.royxat{
    display: flex;
    justify-content: space-evenly;

}


.royxat .royxat_item{
    transition: all 0.4s ease-in;
    display: inline-block;
    margin: 0 7%;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(241, 241, 207, 0.721);
    list-style: none;
}
.royxat .royxat_item:hover{
    border-bottom: 1px solid #f06000;
    transform: scale(1.2);
    color: #f06000;
    
}
.royxat:hover :not(:hover){
    border-bottom-color: transparent;
}
.royxat_item.active {
    border-bottom: 1px solid #f06000;
    color: #f06000;
}

.button{
    width: 12.5rem;
    padding: 0.93rem 1.25rem;
    text-align: end;
    background-color: #444;
    border-radius: 8px;
    font-weight: 400;
    text-transform: capitalize;
    transition: all 0.5s ease-in;
    display: inline-block;
}

.button:hover{
    color:#2B2B2B;
    cursor: pointer;
    background-color:rgba(241, 241, 207, 0.721);
}

.home-section2{
    width: 100%;
        position: relative;
       
        height: auto;
        min-height: auto;
        background:  url(../img/imm.jpg) no-repeat top center;
        background-size: cover ;
        -webkit-background-size: cover ;
        text-align: center;
        overflow: hidden;
    
}
.project_title{
    position: relative;
    margin-top: 20vh;
    padding: 0.7rem 2rem;
    text-transform: capitalize;
    transition: all 0.5s ease-in;
    color: aliceblue;
    font-size: 1.2rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: inline-block;
    animation: title_animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color:rgba(38, 38, 41, 0.697);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 4px 0px 4px #ffa,
    0px 4px 14px #ffa;
        /* text-shadow: 10px 0px 7px rgb(21, 5, 76),
        0px 10px 7px rgb(29, 2, 52); */
}
.project_title:hover{
    color:rgba(146, 140, 140, 0.707);
    transform: scale(1.02);
}
.project_title span{
    color:rgb(244, 228, 8);
    
    animation: kichik ;
animation-duration: 2s;
animation-direction:alternate;
animation-fill-mode:forwards;
animation-iteration-count: infinite;
    
}

.col-md-3 span,
.col-md-3 a,
.col-md-3 p{
    text-decoration: none;
    color:#10066b;
    font-weight: 600;
    transition: all 0.4s;
}
.col-md-3 span:hover,
.col-md-3 a:hover,
.col-md-3 p:hover{
    color:#c8e203;
}
@keyframes title_animation {
    0%{
        text-shadow: 1px 0px 7px rgb(244, 228, 8),
    0px 1px 7px rgb(159, 2, 2);

    }
    100%{
        text-shadow: 10px 0px 7px rgb(17, 16, 1),
    0px 10px 7px rgb(58, 56, 56);
}
    }

    @keyframes kichik{
        0%{ 
            text-shadow: 0px 0px ;
            color:rgb(244, 228, 8);
        }
        100%{
            background: #31303092;      
            color: transparent;
            text-shadow: 0px 0px ;
        }
    }

.project_items{
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    /* grid-template-columns: repeat(3, 1ft); */
    /* grid-template-rows: repeat(1, 1ft); */
    gap:  20px;
}
.project_item{
   transition: all 0.5s;
    background-size: cover;
    background-position: center;
   
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    z-index: 23;
    width: 100%;
    height: max-content;
    height: 340px;
   display:flex;
   flex-wrap: nowrap;
   justify-items: center;
   justify-content: center;
   align-items: center;   
}
/* .project_item::after{
    position: absolute;
    content: '';

} */
.view,
.download_project{
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    margin:10px;
    color:white;
    padding: 10px 10px;
    background-color:#f0600042;
    border-radius: 5px ;
    border: 1px solid rgb(255, 255, 255);
    transition: all 2.7s;
    display: none;
}
.project_item:hover {
    opacity: 0.7;
}

.project_item:hover .view, 
.project_item:hover .download_project

{   
   display:block;
   opacity: 1!important;
}
.project_item a{
 text-decoration: none;
 color:white;
 font-size: 1.4rem;
 font-family: 'Roboto Mono', monospace!important;
}
.contact-section {
    margin: 0 15%;
  }
  .contact_title {
    padding-top: 40px;
    padding-bottom: 40px;
  
    text-align: center;
  
    text-transform: uppercase;
    color: #07147d;
    font-size: 2.7rem;
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
  }
  .contact_main label,
  .contact_main input {
    margin: 10px;
    font-size: 1.5rem;
  }
  fieldset {
    display: flex;
    justify-content: space-between;
  }
  
  /* .contact-section .form-floating label {
    color: #1a024f;
  } */
 
  .contact-wrap.w-100.p-md-5.p-4 .mb-4 {
    color: #f06000;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 2.5rem;
  }
  .contact-wrap.w-100.p-md-5.p-4 #form-message-success {
    color: #c8e203;
    font-size: 1.2rem;
    text-shadow: 0px 0px 5px #07147d, 0px 0px 7px #07147d, 0px 0px 10px #07147d,
      0px 0px 12px #07147d;
    font-weight: 400;
  }
  
  
  .form-group{
    padding: 1rem 0;
    cursor: pointer;
  }
  .contactForm{
    display: flex;
    
    flex-wrap: nowrap;
  }
  .wrapper .label {
    
    color:#fff;
  }
  .form-group input,
  .form-group textarea {
    transition: all 0.5s ease-out;
  }
  .form-group input:focus,
  .form-group textarea:focus{
    opacity: 0.4;
  
    /* border: 1px solid #000; */
    outline: invert;
    color: #fff;
    background: #000;
  }
 
#form-message-success{
    display: none;
}
  .boglanish{
 
    background-image: url(../img/imm.jpg);
    background-position: right top;
    background-attachment: fixed;
    height: 800px;
    position: relative;
    /* perspective: 100000px; */
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    justify-items: center;
  }
  .ftco-section {
    
    display: flex;
    align-items:center;
    justify-items: center;
    position: absolute;
    width: 70%;
    height: 100%;
   
    /* height: fit-content; */
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 0.4s ease;
    transform-origin: center;
 
  }
  .ftco-section .front,
  .ftco-section .back{
    
    position: absolute;
    width: 100%;
    height: 100%;
    
    backface-visibility: hidden;
   
   
  
  }
  .front{
    z-index: 2;
    background: #000;
    transform: rotateY(0deg);
  }
  .back{
    
    background: #000;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  
  }
  .back h1{
    padding: 3vh 0;
    text-transform: capitalize;
    word-spacing: 10px;
    font-family: Montserrat;
    font-size: 3.5rem;
    color:rgba(255, 255, 255, 0.7);
  }
  .ftco-section.show{
    display: block;
    transform: rotateY(180deg);
  }
  
    /* contact validation */

.success{
  
   
   box-shadow:  10px 0px 5px #07ca0e,
   0px -10px 5px #07ca0e,
   0px 10px 5px #07ca0e,
   -10px 0px 5px #07ca0e;
   
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.error{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow:  10px 0px 5px #f31905,
    0px -10px 5px #f31905,
    0px 10px 5px #f31905,
    -10px 0px 5px #f31905;
    

    }


@media screen  and ( max-width: 500px){
  html{
    font-size: 10px;
  }
  .project_items{
    
    
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .view a,
.download_project a{
    font-size: 4rem;
}
*{
    grid-template-columns: auto;
    grid-template-rows: auto;
   
}
.grids p,
.about_me-section p{
    padding-right: 10%;
    text-align: justify;
}
.contact_detalis,
.about_me-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.about_me-section img{
    display: none;
}
.grids h2{
    margin-bottom: 3vh;
}
.royxat .royxat_item{
    margin: 0 0.5%;
}
.royxat{
    justify-content: center;
    
    margin: 0 1%;
}

.menu-container{
    
grid-template-columns: 10% 0% auto ;
gap: 20px;
}
.menu-container  a {
    width: fit-content;
    height: fit-content;
    padding: 0 5px;
    
}
.menu-container .royxat a{
    font-size: 14px;
    
}


.menu-container a img{
   margin-left: -2rem;
   width: 50px;
}
/* .content{
    padding: 5%;
} */
.skil-item{
    padding-right: 8%;
}
.skil-item .progress {
    height: 2vh;
}
.skill-percent{
    line-height: 2vh;
    padding-left: 2vw;
    font-size: 1.2rem;
}
}



